.btn {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid black;
}

.hidden {
    display: none;
}

#timer {
    display: inline-block;
}